
`timescale 1ns / 1ns

module test;


wire  Cout;

reg  Cin;

wire [3:0]  S;

reg [3:0]  A;
reg [3:0]  B;



fourBitAdder top(Cout, S, A, B, Cin); 
 

`ifdef verilog

 //please enter any additional verilog stimulus in the /home/ugrads/r/rohitbarichello/ECEN454/fourBitAdder_run1/testfixture.verilog file
`include "/home/ugrads/r/rohitbarichello/ECEN454/fourBitAdder_run1/testfixture.verilog"

`endif

endmodule 
